<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>
<div class="container">
  <a href="/">Home</a>
  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
  <a href="/lists/new">Add New Task</a>
</div>
